.footer {
  text-align: center;
  padding: 5px;
  margin: 0;
  font-size: 1rem; /* Decreased font size */
  background-color: #333;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}
